<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Ayaan_ProjectEntities" connectionString="metadata=res://*/Data_Set.Login.csdl|res://*/Data_Set.Login.ssdl|res://*/Data_Set.Login.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M7BEN3V\SQLEXPRESS;initial catalog=Ayaan_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ayaan_ProjectEntities1" connectionString="metadata=res://*/Data_Set.UC_AddNewBook.csdl|res://*/Data_Set.UC_AddNewBook.ssdl|res://*/Data_Set.UC_AddNewBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M7BEN3V\SQLEXPRESS;initial catalog=Ayaan_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ayaan_ProjectEntities2" connectionString="metadata=res://*/Data_Set.Add_NewBook.csdl|res://*/Data_Set.Add_NewBook.ssdl|res://*/Data_Set.Add_NewBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M7BEN3V\SQLEXPRESS;initial catalog=Ayaan_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Jumail_ProjectEntities" connectionString="metadata=res://*/Data_Set.Login.csdl|res://*/Data_Set.Login.ssdl|res://*/Data_Set.Login.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Jumail_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Jumail_ProjectEntities1" connectionString="metadata=res://*/Data_Set..csdl|res://*/Data_Set..ssdl|res://*/Data_Set..msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Jumail_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<appSettings>
	<add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings></configuration>